[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "themes/bookworm-light"]
	path = themes/bookworm-light
	url = git@github.com:gethugothemes/bookworm-light.git
